form {
  background-color: #1abc9c;
  border: 5px solid #16a085;
  padding: 20px;
  width: 250px;
}

input {
  width: 100%;
  padding: 7px 0;
}

.buttonDiv {
  text-align: end;
  margin-top: 20px;
}

.buttonDiv .submitButton {
  background-color: #16a085;
  border: 0;
  padding: 10px;
  font-weight: bold;
}

.inputDiv {
  padding: 10px 0;
}

#missingMessage {
  font-weight: bold;
  color: #c0392b;
}

#rightgMessage {
  font-weight: bold;
  color: #1abc9c;
}
